<div class="top-search-wrapper">
    <h1>詳細検索</h1>
    <div class="search-form">
        <div class="title-form">
            <p class="title-word">タイトル</p>
            <input type="text" class="title-field">
        </div>
        <div class="genre-form">
            <p class="genre-word">ジャンル</p>
            <select name="example" class="genre-field">
                <option value="サンプル0">選択してください</option>
                <option value="サンプル1">小説</option>
                <option value="サンプル2">漫画</option>
                <option value="サンプル3">その他</option>
            </select>
        </div>
        <div class="ibsn-form">
            <p class="ibsn-word">IBSNコード（任意）</p>
            <input type="text" class="ibsn-field">
        </div>
        <input type="submit" class="btn search-btn" value="検索">
    </div>
</div>
<div class="top-list-wrapper">
    <div class="other-image">
        <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
        <p>逃げるは恥だが役に立つ</p>
    </div>
    <div class="other-image">
        <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
        <p>逃げるは恥だが役に立つ</p>
    </div>
    <div class="other-image">
        <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
        <p>逃げるは恥だが役に立つ</p>
    </div>
    <div class="other-image">
        <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
        <p>逃げるは恥だが役に立つ</p>
    </div>
</div>
