    <div class="container">
      <div class="user_show_contents">
        <div class="container">
            <div class="user_profile">
                <p class="profile">
                    プロフィール
                </p>
                <div class="user_photo">
                    <%= image_tag'NO_DATA.png', class: 'user_photo' %>
                </div>
                <div class="btn-wrapper">
                    <div class="btn profile_update">
                        <a href="#">プロフィールを更新する</a><!-- link to-->
                    </div>
                </div>
            </div>
        </div>
        <div class="book_shelf">
            <div class="collect_books">
                <div>
                
                </div>
            </div>
        </div>  
      </div>
    </div>