// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.books-top-wrapper{
    width:80%;
}

.top-search-wrapper {
    padding: 35px 15px 15px 15px;
    text-align: center;
}

.top-search-wrapper h1 {
    font-size: 32px;
}

.search-form {
    height: 300px;
    background-color:#666;
    width:100%;
}

.top-search-wrapper p,.top-search-wrapper h1 {
    color:#fff;
}

.title-word, .title-field, .genre-word, .genre-field, .ibsn-word, .ibsn-field {
    display: inline-block;
}

.title-word, .genre-word, .ibsn-word {
    font-size: 20px;
}

.title-field, .ibsn-field {
    padding: 10px 5px;
    font-size: 20px;
}

.genre-field {
    font-size: 20px;
    padding: 10px;
}

.search-btn {
    font-size: 20px;
    text-align: center;
    background-color: #5D4037;
    border: #5D4037;
    border-radius: 5px;
}

.search-btn:hover{
    background-color: #4D3027 
}

.details-top-wrapper {
    padding: 100px 15px 15px 15px;
    vertical-align: top;
}

.book-image {
    margin-left: 10px;
    padding: 15px;
    border: 1px solid #444;
    width: 20%;
}

.contents {
    margin-left: 20px;
    text-align: left;
    width: 50%;
}

.title {
    font-size: 32px;
    border-bottom: 1px solid #444;
}

.content-details {
    padding-left: 10px;
    text-align: left;
}

.content-details li {
    font-size: 24px;
}

.flex{
    display: flex;
}

.books_btn {
    border: 1px solid #444;
    padding: 15px 20px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #666;
    color:#fff;
    border-radius: 10px;
}

.books_btn:hover{
    opacity: 0.8;
}
.have-btn2 {
    background-color: yellow;
}
.read-btn2 {
    background-color: crimson;
}
.details-bottom-wrapper {
    padding-bottom: 50px;
    background-color: #444;
}

.details-bottom-wrapper p{
    color:#fff;
    border-radius: 25px;
}

 .contents p ,.contents list{
    color:#fff;
}

.push {
    font-size: 20px;
    margin-left: 10px;
}

.other-image {
    display: inline-block;
    width: 24%;
    margin: 5px 0px 0px 5px;
    border: 1px solid #444;
    text-align: center;
    background-color: #333;
    opacity: 0.8;
}

.other-image:hover{
    opacity: 1.0;
}

.book-title {
    color:#ddd;
    font-size: 14px;
    transition: all 0.5s;
}

.book-title:hover {
    color:#fff;
    transition: all 0.5s;
}

.book-image2 {
    width: 100%;
}


/* search_result */
.wrapper-search-btn{
    padding:15px 0px 10px 0px;
}

.top-list-wrapper {
    overflow: scroll;
    background-color: #444;
    margin: auto 0px;
    padding-bottom: 10px;
}

.wrapper_search_result{
    text-align: center;
}

.wrapper_search_result p{
    color:#fff;
}